$header-height: 65px;
$footer-height: 65px;
#root {
  min-width: 1200px;
}

.app-header {
  // position: fixed;
  height: $header-height;
  // width: 100%;
}

.app-layout {
  height: calc(100vh - #{$header-height});
  overflow: auto;
}
.app-main {
  min-height: initial;
  @media screen and (max-width: 1920px) {
    padding: 0 350px;
  }
  @media screen and (max-width: 1600px) {
    padding: 0 300px;
  }
  @media screen and (max-width: 1366px) {
    padding: 0 250px;
  }
}

.app-footer {
  height: $footer-height;
  text-align: center;
}
